* {
	box-sizing: border-box;
}

/* Style the body */
body {
	margin: 0;
	/* Font */
    font-family: sans-serif;
	font-family: 'Cute Font', cursive;
	font-family: 'Roboto', sans-serif;
}

p {
	font-family: 'Montserrat', sans-serif;
}

/* Header/logo Title */
.header {
	padding: 50px;
	text-align: center;
	background:url("../images/galaxy-background.jpg");
	color: #99ccff;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
	
	/* Parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Header Title */
.header .title{
	padding: 20px;
	text-align: center;
	background-color: white;
	color: #99ccff;
	  
	width: 50%;
	opacity: .8;
	
    /* Border styles */
    border-radius: 20px;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 50px;
  background: -webkit-linear-gradient(#9966ff, #99ccff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #99ccff;
  color: black;
}

/* Change color on hover */
.active {
  background-color: #9966ff;
  color: black;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.footer {
	text-align: center;
	background: black;
	color: rgb(147, 112, 219);
	
    /* Padding */
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: hidden; /* make sure this doesn't cause unexpected behaviour */
}

.footer .outer {
    width: 60%;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.footer .column-note {
	float: left;
	width: 20%
}

.footer .column {
	float: left;
	width: 80%
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}